@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  main {
    width: 768px;
    display: flex;
    flex-direction: column;
  }

  main form {
    flex-direction: row;
    width: 600px;
    margin: 0 auto;
  }

  main form input {
    width: 400px;
  }

  main form button {
    width: 200px;
  }

  .list-ingredients,
  .get-recipe,
  .recipe-instructions,
  .markdown-section {
    width: 600px;
  }

  .get-recipe {
    grid-template-columns: 80% 20%;
    grid-template-areas: "title btn" "txt btn";
    padding-right: 3rem;
    padding-left: 2rem;
  }

  .get-recipe h2 {
    grid-area: title;
    justify-self: left;
  }
  .get-recipe p {
    grid-area: txt;
    justify-self: left;
  }

  .get-recipe button {
    grid-area: btn;
    height: 30px;
    align-self: center;
    justify-self: center;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  main {
    width: 1024px;
  }

  main form,
  .list-ingredients,
  .get-recipe,
  .recipe-instructions,
  .markdown-section {
    width: 900px;
  }

  main form input {
    width: 700px;
  }

  main form button {
    width: 200px;
  }

  .list-ingredients ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
}
