@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  main {
    width: 768px;
  }

  main form {
    flex-direction: row;
  }

  main form input {
    width: 500px;
  }

  main form button {
    width: 200px;
  }
}

/* @media screen and(min-width: 1024px) {
} */
